@model ReseauPsy.Models.ForgotPasswordViewModel

@using ReseauPsy.Resources
@{
    ViewBag.Title = Resource.ForgotPassword_Title;
}

<section id="page-forgotpassword">

    <div class="row justify-content-center justify-content-md-between">
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-10">



            <h1>@Resource.ForgotPassword_H1</h1>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>@Resource.ForgotPassword_Subtitle</h2>


                <div class="form-group">
                    @Html.LabelFor(m => m.Email, Global.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                if (String.IsNullOrWhiteSpace(Model.SuccessMessage))
                {
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary w-100" value="@Global.Send" />
                    </div>
                }
                else
                {
                    <div class="alert alert-success">@Model.SuccessMessage</div>
                }

                <div class="form-group">
                    <a href="@Url.Action("Login","Account")" class="back-to-login">
                        <img src='/_assets/img/icons/arrow-down-purple.svg' />@Resource.ForgotPassword_ReturnToLogin
                    </a>
                </div>
            }
        </div>
    </div>

</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
