@using ReseauPsy.Resources
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Resource.ChangePassword_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";


    var isTherapist = System.Web.HttpContext.Current.User.IsInRole(ReseauPsy.Models.RoleName.Therapist);
    var isAdmin = System.Web.HttpContext.Current.User.IsInRole(ReseauPsy.Models.RoleName.AdminFullAccess);
}

<div class="container">
    <section id="page-therapist-clientRequest">

        @* Title *@
        <h1>@Resource.ChangePassword_H1</h1>

        @* Old password *@
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="form-group">
                    <label>@Global.PasswordCurrent</label>
                    <input type="password" class="form-control" id="js-change-password-old-password" />
                </div>
            </div>
        </div>



        <div class="row">
            @* New password *@
            <div class="col-12 col-xl-6">
                <div class="form-group">
                    <label>@Global.PasswordNew</label>
                    <input type="password" id="js-change-password-new-password" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            @* Confirm password *@
            <div class="col-12 col-xl-6">
                <div class="form-group">
                    <label>@Global.PasswordConfirmation</label>
                    <input type="password" id="js-change-password-confirm-password" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-6">
                <div id="js-alert-error" class="alert alert-danger d-none">

                    @* Error password strong *@
                    <div id="js-change-password-error-password-not-strong" class="d-none">
                        @Global.PasswordStrong
                        <ul>
                            <li>@Global.PasswordStrong_Length</li>
                            <li>@Global.PasswordStrong_Lower</li>
                            <li>@Global.PasswordStrong_Upper</li>
                            <li>@Global.PasswordStrong_Digit</li>
                            <li>@Global.PasswordStrong_Special</li>
                        </ul>
                    </div>

                    @* Error wrong password *@
                    <div id="js-change-password-error-wrong-password" class="d-none">
                        @Resource.ChangePassword_Error_CurrentPassword
                    </div>

                    @* Error matching password *@
                    <div id="js-change-password-error-password-no-match" class="d-none">
                        @Global.PasswordCompare
                    </div>

                </div>
            </div>
        </div>

        @* Alert success change password *@
        <div id="js-change-password-pasword-changed" class="row d-none">
            <div class="col-12 col-xl-6">
                <div class="alert alert-success">@Resource.ChangePassword_Confirmation</div>
            </div>
        </div>


        @* Change password buttonn *@
        <div class="row">
            <div class="col-12 col-xl-6 text-center text-sm-end">
                <div class="form-group">
                    @if (isTherapist)
                    {
                        <a href="@Url.Action("Dashboard","Therapist")" class="btn btn-secondary">@Global.Cancel</a>
                    }
                    else if (isAdmin)
                    {
                        <a href="@Url.Action("Dashboard","Admin")" class="btn btn-secondary">@Global.Cancel</a>
                    }
                    <div id="js-change-password-send-button" class="btn btn-primary">@Global.Edit</div>
                </div>
            </div>
        </div>




    </section>
</div>

@section scripts
{
    <script>

        $("#js-change-password-send-button").on("click", function () {

            var oldPasswordInput = $("#js-change-password-old-password")
            var newPasswordInput = $("#js-change-password-new-password")
            var confirmPasswordInput = $("#js-change-password-confirm-password")

            var oldPassword = oldPasswordInput.val()
            var newPassword = newPasswordInput.val()
            var confirmPassword = confirmPasswordInput.val()

            //Error element
            var passwordNoMatchError = $("#js-change-password-error-password-no-match")
            var passwordNotStrongError = $("#js-change-password-error-password-not-strong")
            var wrongPasswordError = $("#js-change-password-error-wrong-password")
            var alertError = $("#js-alert-error");

            //Alert success
            var successAlerte = $("#js-change-password-pasword-changed")

            //Remove all the error by default
            oldPasswordInput.removeClass("input-validation-error")
            newPasswordInput.removeClass("input-validation-error")
            confirmPasswordInput.removeClass("input-validation-error")
            passwordNoMatchError.addClass("d-none")
            passwordNotStrongError.addClass("d-none")
            wrongPasswordError.addClass("d-none")
            alertError.addClass("d-none");


            //Hide the success message if not already hidden
            successAlerte.addClass("d-none")


            //Verification if can proceed
            var canProceed = true;

            if (oldPassword == "") {
                oldPasswordInput.addClass("input-validation-error")
                canProceed = false
            }

            if (newPassword == "") {
                newPasswordInput.addClass("input-validation-error")
                canProceed = false
            }

            if (confirmPassword == "") {
                confirmPasswordInput.addClass("input-validation-error")
                canProceed = false
            }
            if (newPassword != confirmPassword) {
                confirmPasswordInput.addClass("input-validation-error")
                passwordNoMatchError.removeClass("d-none")
                alertError.removeClass("d-none");
                canProceed = false
            }

            if (!VerifyFieldWithRegex(newPasswordInput, newPasswordInput.val(), new RegExp("(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,})")) && newPasswordInput.val() != ""  ) {
                newPasswordInput.addClass("input-validation-error")
                passwordNotStrongError.removeClass("d-none")
                alertError.removeClass("d-none");
                canProceed = false
            }

            if (!canProceed) {
                return false
            }



            //Change password through ajax
            $.ajax({
                type: "POST",
                url: "/fr/profile/ChangePassword/",
                data: `{"oldPassword":"${oldPassword}",
                        "newPassword":"${newPassword}"}`,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    if (data.success == true) {
                        successAlerte.removeClass("d-none")

                        //remove the text in textbox
                        oldPasswordInput.val("")
                        newPasswordInput.val("")
                        confirmPasswordInput.val("")
                    }
                    else if (data.success == "wrong password") {
                        oldPasswordInput.addClass("input-validation-error")
                        wrongPasswordError.removeClass("d-none")
                        alertError.removeClass("d-none");

                    }
                },
                error: function () {
                    toastr["error"]
                        ("@Global.GenericError",
                            "@Global.Error");
                }
            })




        })

    </script>
}
