@model ReseauPsy.ViewModel.Admin.DetailClientViewModel
@using ReseauPsy.Resources
@using System.Globalization
@{
    ViewBag.Title = "DetailClient";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string title = Model.ClientId == null ?
                      Resource.DetailClientAdmin_H1_CreateClient :
                      Resource.DetailClientAdmin_H1_EditClient;

    string buttonText = Model.ClientId == null ?
                      Global.Add :
                      Global.Edit;
}

<section id="page-detail-client-admin">

    <div class="container">


        <h1>@title</h1>


        @* Thérapeute *@
        <div class="row">

            @* Therapeist label *@
            <div class="col-sm-6 @(Model.TherapistId == null ? "d-none" : "")">
                <div>@Global.Therapist</div>
                @Model.TherapistName
            </div>

            @* Therapist ddl *@
            <div class="col-sm-6 @(Model.TherapistId == null ? "" : "d-none")">
                <label>@Global.Therapist <span class="lbl-required">*</span></label>
                <select id="js-detail-client-therapist" class="form-select">
                    <option value="null">@Global.Choose</option>
                    @foreach (var option in Model.Therapists)
                    {
                        <option value="@option.Id"
                                @(Model.TherapistId == option.Id ? "selected='selected'" : "")>
                            @option.Name
                        </option>
                    }
                </select>
            </div>

        </div>


        <div class="row">

            @*Last name*@
            <div class="col-sm-6">
                <div class="form-group">
                    <label>@Global.Lastname <span class="lbl-required">*</span></label>
                    <input type="text" id="js-detail-client-admin-last-name" class="form-control"
                           value="@Model.ClientInfo.LastName" />
                </div>
            </div>

            @* First name *@
            <div class="col-sm-6">
                <div class="form-group">
                    <label>@Global.Firstname <span class="lbl-required">*</span></label>
                    <input type="text" id="js-detail-client-admin-first-name"
                           class="form-control" value="@Model.ClientInfo.FirstName" />
                </div>
            </div>

        </div>

        <div class="row">

            @* Email *@
            <div class="col-sm-6">
                <div class="form-group">
                    <label>@Global.Email <span class="lbl-required">*</span></label>
                    <input type="text" id="js-detail-client-admin-email" class="form-control"
                           value="@Model.ClientInfo.Email" />
                </div>
            </div>

            @* Phone *@
            <div class="col-sm-6">
                <div class="form-group">
                    <label>@Global.Phone <span class="lbl-required">*</span></label>
                    <input type="text" id="js-detail-client-admin-phone" class="form-control" value="@Model.ClientInfo.PhoneNumber" />
                </div>
            </div>
        </div>

        <div class="row">

            @* City *@
            <div class="col-sm-6">
                <div class="form-group">
                    <label>@Global.City <span class="lbl-required">*</span></label>
                    <input type="text" id="js-detail-client-admin-city" class="form-control" value="@Model.ClientInfo.City" />
                </div>
            </div>

            @* Postal code *@
            <div class="col-sm-6">
                <div class="form-group">
                    <label>@Global.PostalCode <span class="lbl-required">*</span></label>
                    <input type="text" id="js-detail-client-admin-postal-code" class="form-control" value="@Model.ClientInfo.PostalCode" />
                </div>
            </div>
        </div>

        <div class="row">

            @* Region *@
            <div class="col-sm-6">
                <div class="form-group">
                    <label>@Global.Region <span class="lbl-required">*</span></label>
                    <select id="js-detail-client-admin-region" class="form-select">
                        <option value="null">@Global.Choose</option>
                        @foreach (var region in Model.Regions)
                        {
                            <option value="@region.Id"
                                    @(Model.ClientInfo.RegionId == region.Id ? "selected='selected'" : "")>
                                @region.Name
                            </option>
                        }
                    </select>
                </div>
            </div>

            @* Gender *@
            <div class="col-sm-6">
                <div class="form-group">
                    <label>@Global.Gender <span class="lbl-required">*</span></label>
                    <select id="js-detail-client-admin-gender" class="form-select">
                        <option value="null">@Global.Choose</option>
                        @foreach (var gender in Model.Genders)
                        {
                            <option value="@gender.Id"
                                    @(Model.ClientInfo.GenderId == gender.Id ? "selected='selected'" : "")>
                                @gender.Name
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        @* Taux horaire *@
        <div class="row mt-2">
            <div class="col-sm-6">
                <input id="js-use-custom-rate" type="checkbox" @(Model.IsCustomRate ? "checked='checked'" : "")  />
                <label>
                    @Resource.DetailClientAdmin_Label_UseCustomRate
                </label>
            </div>
        </div>

        <div id="js-detail-client-admin-custom-rate" class="row @(Model.IsCustomRate ? "" : "d-none")">

            @* Hourly wage *@
            <div class="col-sm-6">
                <div class="form-group">
                    <label>@Global.HourlySalary</label>
                    <input type="text" id="js-detail-client-admin-hourly-wage" class="form-control" value="@Model.ClientInfo.TherapistHourlyWage" />
                </div>
            </div>

            @* Client Hourly cost *@
            <div class="col-sm-6">
                <div class="form-group">
                    <label>@Global.HourlyClientCost</label>
                    <input type="text" id="js-detail-client-admin-client-cost" class="form-control" value="@Model.ClientInfo.ClientHourlyCost" />
                </div>
            </div>

        </div>





        <div class="row mt-2">

            @* Communication Language *@
            <div class="col-sm-4">
                <div class="form-group">
                    <label>@Resource.DetailClientAdmin_Label_CommunicationLanguage <span class="lbl-required">*</span></label>
                    <select id="js-detail-client-admin-comm-language" class="form-select">
                        <option value="null">@Global.Choose</option>
                        @foreach (var language in Model.Languages)
                        {
                            <option value="@language.Id"
                                    @(Model.Client.LanguageId == language.Id ? "selected='selected'" : "")>
                                @language.Name
                            </option>
                        }
                    </select>
                </div>
            </div>

            @* Consultation reason *@
            <div class="col-sm-4">
                <div class="form-group">
                    <label>@Resource.DetailClientAdmin_Label_ConsultationReason <span class="lbl-required">*</span></label>
                    <select id="js-detail-client-admin-consult-reason" class="form-select">
                        <option value="null">@Global.Choose</option>
                        @foreach (var reason in Model.ConsultationReasons)
                        {
                            <option value="@reason.Id"
                                    @(Model.Client.ConsultationReasonId == reason.Id ? "selected='selected'" : "")>
                                @reason.Name
                            </option>
                        }
                    </select>
                </div>
            </div>

            @* Client age range *@
            <div class="col-sm-4">
                <div class="form-group">
                    <label>@Global.ClientAge <span class="lbl-required">*</span></label>
                    <select id="js-detail-client-admin-age" class="form-select">
                        <option value="null">@Global.Choose</option>
                        @foreach (var age in Model.ClientAgeRanges)
                        {
                            <option value="@age.Id"
                                    @(Model.Client.ClientAgeRangeId == age.Id ? "selected='selected'" : "")>
                                @age.Name
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <hr />
                <h4>@Global.Avaibility</h4>
            </div>


            @* Availabilities *@
            <div class="col-sm-6">
                <div class="form-group availability">
                    <label>@Global.Avaibility</label>
                    @foreach (var day in Model.Days)
                    {
                        <div class="row">
                            <div class="col-sm-3">
                                @(CultureInfo.CurrentCulture.Name == "fr-CA" ? day.DayOfTheWeek : day.DayOfTheWeekEN)
                            </div>
                            @foreach (var period in day.DayOfTheWeek_PeriodOfTheDay)
                            {
                                <div class="col-4 col-sm-3">
                                    <input type="checkbox"
                                           class="js-detail-client-admin-availability"
                                           value="@period.Id"
                                           @(Model.ClientAvailabilities.Contains(period.Id) == true ? "checked='true'" : "") />
                                    @(CultureInfo.CurrentCulture.Name == "fr-CA" ? period.PeriodsOfTheDay.PeriodOfTheDay : period.PeriodsOfTheDay.PeriodOfTheDayEN)
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>






        <div class="checkbox-section">
            <div class="row justify-content-between">

                <div class="col-12">
                    <hr />
                    <h4>@Global.Profil</h4>
                </div>

                @* Language *@
                <div class="col-md-6 col-xl">
                    <div class="form-group">
                        <label>@Global.Language</label>
                        <div class="row">
                            @foreach (var language in Model.Languages)
                            {
                                <div class="col-12">
                                    <input type="checkbox"
                                           class="js-detail-client-admin-language"
                                           value="@language.Id"
                                           @(Model.ClientLanguages.Contains(language.Id) == true ? "checked='true'" : "") />
                                    <span>@language.Name</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>


                @* Consultation type *@
                <div class="col-md-6 col-xl">
                    <div class="form-group">
                        <label>@Global.ConsultationType</label>
                        <div class="row">
                            @foreach (var conferenceType in Model.ConsultationTypes)
                            {
                                <div class="col-12">
                                    <input type="checkbox"
                                           class="js-detail-client-admin-consultation-type"
                                           value="@conferenceType.Id"
                                           @(Model.ClientConsultationTypes.Contains(conferenceType.Id) == true ? "checked='true'" : "") />
                                    <span>@conferenceType.Name</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>



            </div>
        </div>


        @* Buttons *@
        <div class="row">
            <div class="col-12 mt-4 text-center">
                <a href="@Url.Action("ClientList", "admin")" class="btn btn-secondary">@Global.Cancel</a>
                <input type="hidden" id="js-detail-client-admin-client-id" value="@Model.ClientId" />
                <div id="js-detail-client-admin-send" class="btn btn-primary">@buttonText</div>
            </div>
        </div>




    </div>
</section>

@section scripts
{
    <script>

        //----------------------------------------- Remove Error class ---------------

        //Therapist
        $("#js-detail-client-therapist").on("change", function () {
            GenericCheckDefaultFieldError($(this), $(this).val(), "null")
        })

        //Last name
        $("#js-detail-client-admin-last-name").on("change", function () {
            GenericCheckDefaultFieldError($(this), $(this).val(), "")
        })

        //First name
        $("#js-detail-client-admin-first-name").on("change", function () {
            GenericCheckDefaultFieldError($(this), $(this).val(), "")
        })

        //Email
        $("#js-detail-client-admin-email").on("change", function () {
            VerifyFieldWithRegex($(this), $(this).val(), /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)
        })

        //Phone number
        $("#js-detail-client-admin-phone").on("change", function () {
            GenericCheckDefaultFieldError($(this), $(this).val(), "")
        })

        //City
        $("#js-detail-client-admin-city").on("change", function () {
            GenericCheckDefaultFieldError($(this), $(this).val(), "")
        })

        //Postal code
        $("#js-detail-client-admin-postal-code").on("change", function () {
            GenericCheckDefaultFieldError($(this), $(this).val(), "")
        })

        //Region
        $("#js-detail-client-admin-region").on("change", function () {
            GenericCheckDefaultFieldError($(this), $(this).val(), "null")
        })

        //Gender
        $("#js-detail-client-admin-gender").on("change", function () {
            GenericCheckDefaultFieldError($(this), $(this).val(), "null")
        })

        //Communication lanmguage
        $("#js-detail-client-admin-comm-language").on("change", function () {
            GenericCheckDefaultFieldError($(this), $(this).val(), "null")
        })

        //Consultation reason
        $("#js-detail-client-admin-consult-reason").on("change", function () {
            GenericCheckDefaultFieldError($(this), $(this).val(), "null")
        })

        //Client age range
        $("#js-detail-client-admin-age").on("change", function () {
            GenericCheckDefaultFieldError($(this), $(this).val(), "null")
        })


        //Hourly wage
        $("#js-detail-client-admin-hourly-wage").on("change", function () {

            GenericCheckDefaultFieldError($(this), $(this).val(), "")

            if (isNaN(+$(this).val().replace(",", "."))) {
                $(this).addClass("input-validation-error")
            }
        })

        //Client hourly cost
        $("#js-detail-client-admin-client-cost").on("change", function () {

            GenericCheckDefaultFieldError($(this), $(this).val(), "")

            if (isNaN(+$(this).val().replace(",", "."))) {
                $(this).addClass("input-validation-error")
            }
        })


        //------------------------------ Create / Edit Client ---------------------

        //Function pour verifier les champs
        function VerifyFields() {
            var isAllFieldGood = true;

            //Therapist
            var therapistInput = $("#js-detail-client-therapist")
            if (therapistInput.val() == "null") {
                therapistInput.addClass("input-validation-error")
                isAllFieldGood = false
            }

            //Last name
            var lastNameInput = $("#js-detail-client-admin-last-name")
            if (lastNameInput.val() == "") {
                lastNameInput.addClass("input-validation-error")
                isAllFieldGood = false
            }

            //First name
            var firstNameInput = $("#js-detail-client-admin-first-name")
            if (firstNameInput.val() == "") {
                firstNameInput.addClass("input-validation-error")
                isAllFieldGood = false
            }

            //Email name
            var emailInput = $("#js-detail-client-admin-email")
            if (emailInput.val() == "" || !VerifyFieldWithRegex(emailInput, emailInput.val(), /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
                emailInput.addClass("input-validation-error")
                isAllFieldGood = false
            }

            //Phone
            var phoneInput = $("#js-detail-client-admin-phone")
            if (phoneInput.val() == "") {
                phoneInput.addClass("input-validation-error")
                isAllFieldGood = false
            }

            //City
            var cityInput = $("#js-detail-client-admin-city")
            if (cityInput.val() == "") {
                cityInput.addClass("input-validation-error")
                isAllFieldGood = false
            }

            //Postal code
            var postalCodeInput = $("#js-detail-client-admin-postal-code")
            if (postalCodeInput.val() == "") {
                postalCodeInput.addClass("input-validation-error")
                isAllFieldGood = false
            }

            //Region
            var regionInput = $("#js-detail-client-admin-region")
            if (regionInput.val() == "null") {
                regionInput.addClass("input-validation-error")
                isAllFieldGood = false
            }

            //Gender
            var genderInput = $("#js-detail-client-admin-gender")
            if (genderInput.val() == "null") {
                genderInput.addClass("input-validation-error")
                isAllFieldGood = false
            }

            //Communication Language
            var languageInput = $("#js-detail-client-admin-comm-language")
            if (languageInput.val() == "null") {
                languageInput.addClass("input-validation-error")
                isAllFieldGood = false
            }

            //Consultation reason
            var consultReasonInput = $("#js-detail-client-admin-consult-reason")
            if (consultReasonInput.val() == "null") {
                consultReasonInput.addClass("input-validation-error")
                isAllFieldGood = false
            }

            //Client age range
            var clientAgeRangeInput = $("#js-detail-client-admin-age")
            if (clientAgeRangeInput.val() == "null") {
                clientAgeRangeInput.addClass("input-validation-error")
                isAllFieldGood = false
            }

            //Therapist hourly wage
            if ($("#js-use-custom-rate").is(":checked") && $("#js-detail-client-admin-hourly-wage").val() == "") {
                isAllFieldGood = false
                $("#js-detail-client-admin-hourly-wage").addClass("input-validation-error")
            }

            //Client hourly cost
            if ($("#js-use-custom-rate").is(":checked") && $("#js-detail-client-admin-client-cost").val() == "") {
                isAllFieldGood = false
                $("#js-detail-client-admin-client-cost").addClass("input-validation-error")
            }

            return isAllFieldGood
        }


        //Send datas
        $("#js-detail-client-admin-send").on("click", function () {

            if (!VerifyFields()) {
                return false;
            }

            //Availabilities
            var availabilityIds = []
            $(".js-detail-client-admin-availability:checked").each(function () {
                availabilityIds.push($(this).val())
            })

            //Language
            var languageIds = []
            $(".js-detail-client-admin-language:checked").each(function () {
                languageIds.push($(this).val())
            })

            //Consultation type
            var consultationTypeIds = []
            $(".js-detail-client-admin-consultation-type:checked").each(function () {
                consultationTypeIds.push($(this).val())
            })

            var therapistHourlyWage = ""
            var clientHourlyCost = ""

            if ($("#js-use-custom-rate").is(":checked")) {
                therapistHourlyWage = $("#js-detail-client-admin-hourly-wage").val();
                clientHourlyCost = $("#js-detail-client-admin-client-cost").val()
            }

            datas = {
                ClientId : $("#js-detail-client-admin-client-id").val(),
                LastName : EscapeHtmlEntities($("#js-detail-client-admin-last-name").val()),
                FirstName : EscapeHtmlEntities($("#js-detail-client-admin-first-name").val()),
                Email : EscapeHtmlEntities($("#js-detail-client-admin-email").val()),
                PhoneNumber : EscapeHtmlEntities($("#js-detail-client-admin-phone").val()),
                City : EscapeHtmlEntities($("#js-detail-client-admin-city").val()),
                PostalCode : EscapeHtmlEntities($("#js-detail-client-admin-postal-code").val()),
                RegionId : $("#js-detail-client-admin-region").val(),
                GenderId: $("#js-detail-client-admin-gender").val(),
                TherapistId: $("#js-detail-client-therapist").val(),
                TherapistHourlyWage: therapistHourlyWage,
                ClientHourlyCost: clientHourlyCost,
                CommunicationLanguageId : $("#js-detail-client-admin-comm-language").val(),
                ConsultationReasonId : $("#js-detail-client-admin-consult-reason").val(),
                ClientAgeRangeId : $("#js-detail-client-admin-age").val(),
                AvailabilityIds : availabilityIds,
                LanguageIds : languageIds,
                ConsultationTypesIds : consultationTypeIds
            }

            if ($("#js-detail-client-admin-client-id").val() == "") {
                CreateClient(datas)
            }
            else {
                EditClient(datas)
            }

        })

        function CreateClient(datas) {
            $.ajax({
                type: "POST",
                url: "/fr/admin/CreateClient/",
                data: JSON.stringify(datas),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.result == 'Redirect')
                        window.location = data.url;
                },
                error: function () {
                    toastr["error"]
                        ("@Global.GenericError",
                            "@Global.Error");
                }
            });

        }

        function EditClient(datas) {
            $.ajax({
                type: "POST",
                url: "/fr/admin/EditClient/",
                data: JSON.stringify(datas),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    toastr["success"]
                        ("@Resource.DetailClientAdmin_SucceededEdited",
                            "@Global.Success");
                },
                error: function () {
                    toastr["error"]
                        ("@Global.GenericError",
                            "@Global.Error");
                }
            });

        }


        //------------------------ Other ---------------------------
        $("#js-use-custom-rate").on("change", function () {

            $("#js-detail-client-admin-custom-rate").addClass("d-none")

            if ($(this).is(":checked")) {
                $("#js-detail-client-admin-custom-rate").removeClass("d-none")
            }
        })

        //---------------- jquery Mask ---------------------------
        $("#js-detail-client-admin-postal-code").mask("S0S 0S0")
        $("#js-detail-client-admin-hourly-wage").mask("000.##", { reverse: true });
        $("#js-detail-client-admin-client-cost").mask("000.##", { reverse: true });
    </script>
}

